body { 
    background-color: rgb(27, 26, 26);
      text-align: center;
    }
    @media screen {
      
    }
    #welcome-section {
      height: 100vh;
    }
    nav {
      
      position: fixed;
      top: 0;
    }
    h1,
    h2 {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      text-align: center;
      color: grey;
    }
    
    h1 {
      font-size: 6rem;
    }
    
    h2 {
      font-size: 4.2rem;
    }
    h3 {
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      text-align: center;
      color: grey;
    }
    img {
      max-width: 30%;
      margin: auto;
      display: block;
    }