main {
    text-align: center;
    background-color: #83A0B4;
  }
  img {
    max-width: 50%;
    margin: auto;
    display: block;
  }
  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }